.header__lang-link {
  margin: 0;
  padding-left: 18px;
  font-size: 24px;
  line-height: 117%;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity 0.1s linear 0.2s;
}

@media (max-width: 425px) {/* CSS для экранов меньше 425px */
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
