.place__paragraf {
  margin: 0;
  text-align: start;
  font-weight: 400;
  line-height: 163%;
  font-size: 18px;
  color: #FFFFFF;
}

.place__paragraf:first-of-type {
  padding-bottom: 26px;
}

@media (max-width: 1023px) { /* CSS для: 768px – 1023px */
  .place__paragraf {
    font-size: 16px;
  }
}

@media (max-width: 425px) { /* CSS для экранов меньше 425px */
  .place__paragraf {
    padding: 0 16px;
  }
}