.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  line-height: 122%;
  font-size: 18px;
  color: #FFFFFF;
}

@media (max-width: 767px) { /* CSS для cмартфонов и небольших планшетов 767px */
  .cover__subtitle {
    line-height: 114%;
    font-size: 14px;
    max-width: 288px;
  }
}