.place__link{
  margin:0;
  margin-top: 12px;
  align-self:start;
  font-weight: normal;
  line-height:122%;
  font-size: 18px;
  color:#FFFFFF;
  opacity: 1;
  }
  .place__link:hover{
    opacity: 0.8;
    transition: opacity 0.1s linear 0.2s;
  }
