.place {
  margin: 0 auto;
  padding:0 148px 80px;
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(352px, 484px);
  grid-template-rows: auto auto;
  column-gap: 48px;/* Отступы между колонками */
  row-gap: 40px;/* Отступы между рядами */
  justify-items: start; /*чтобы прижались к левой стороне*/
  align-items: start; /*чтобы прижались к верху*/
  }